@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	--color-bg-primary: #2d3748;
	--color-bg-secondary: #283141;
	--color-text-primary: #f7fafc;
	--color-text-secondary: #e2e8f0;
	--color-text-accent: #81e6d9;
}

.light {
	--color-bg-primary: deepskyblue;
	--color-bg-secondary: #1fc8e6;
	--color-text-primary: black;
	--color-text-secondary: gray;
	--color-text-accent: #2b6cb0;
}

.root #root {
	@apply light;
}
